autopep8==1.5
configparser==4.0.2
dj-database-url==0.5.0
Django==1.11.24
django-forms-bootstrap==3.1.0
entrypoints==0.3
enum34==1.1.10
flake8==3.7.9
functools32==3.2.3.post2
mccabe==0.6.1
Pillow==6.2.2
psycopg2==2.8.4
pycodestyle==2.5.0
pyflakes==2.1.1
pytz==2019.3
typing==3.7.4.1
